/* You can add global styles to this file, and also import other style files */


@import "../../../node_modules/bootstrap/scss/bootstrap";


@font-face {
  font-family: 'Roboto';
  src: url('assets/fonts/roboto/Roboto-BoldItalic.woff2') format('woff2'),
  url('assets/fonts/roboto/Roboto-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('assets/fonts/roboto/Roboto-Black.woff2') format('woff2'),
  url('assets/fonts/roboto/Roboto-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('assets/fonts/roboto/Roboto-BlackItalic.woff2') format('woff2'),
  url('assets/fonts/roboto/Roboto-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('assets/fonts/roboto/Roboto-Medium.woff2') format('woff2'),
  url('assets/fonts/roboto/Roboto-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('assets/fonts/roboto/Roboto-Bold.woff2') format('woff2'),
  url('assets/fonts/roboto/Roboto-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('assets/fonts/roboto/Roboto-Regular.woff2') format('woff2'),
  url('assets/fonts/roboto/Roboto-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('assets/fonts/roboto/Roboto-MediumItalic.woff2') format('woff2'),
  url('assets/fonts/roboto/Roboto-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('assets/fonts/roboto/Roboto-Italic.woff2') format('woff2'),
  url('assets/fonts/roboto/Roboto-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('assets/fonts/roboto/Roboto-Thin.woff2') format('woff2'),
  url('assets/fonts/roboto/Roboto-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('assets/fonts/roboto/Roboto-Light.woff2') format('woff2'),
  url('assets/fonts/roboto/Roboto-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('assets/fonts/roboto/Roboto-ThinItalic.woff2') format('woff2'),
  url('assets/fonts/roboto/Roboto-ThinItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('assets/fonts/roboto/Roboto-LightItalic.woff2') format('woff2'),
  url('assets/fonts/roboto/Roboto-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}


@font-face {
  font-family: 'Rokkitt';
  src: url('assets/fonts/rokkitt/Rokkitt-SemiBold.woff2') format('woff2'),
  url('assets/fonts/rokkitt/Rokkitt-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}



// primary font
$primary_font: 'Roboto';

// font-weight
$thin:100;
$light:300;
$regular:400;
$bold:700;
$black:900;

// Font size
$font-xs:12px;
$font-sm: 14px;
$primary-fs: 16px;
$font-md: 18px;
$font-lg: 20px;

body {
  font-family: $primary_font;
  font-size: $primary-fs;
  font-weight: $regular;
  background: #F2F4F7;
}

a {
  text-decoration: none;
}

.paris-layout-style .form-row {
  margin-bottom: 32px;
}

.bird-view .form-row {
  margin-bottom: 24px;
}


/********  Footer **********************/

.text-footer {
  color: $secondary;
}

// This one is actually used by the Audit View because it's only needed to appear at the bottom of that
.border-footer {
  border-bottom: solid $secondary 2px;
}

/********  Draggable classes ***********/

.drag-border {
  border: #ff525b dashed 2px !important;
}

.drag-handle {
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.drag-handle:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

/* Droppable */

.drag-hint-border {
  border: #3c763d dashed 2px;
}

.drag-over-border {
  border: #fbbc05 dashed 2px;
}

.drag-transit {
  border: #3500FF dashed 2px;
}


/*********** Status badge **********/

@mixin badge-mixin {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-grow: 0;
  align-items: center;
  height: 24px;
  border-radius: 16px;
}

.status-badge-Alive {
  @include badge-mixin;
  background: #ECFDF3;
  color: $success;
}

.status-badge-Dead {
  @include badge-mixin;
  background: #FEF3F2;
  color: $danger;
}

.status-badge-Presumed-Dead {
  @include badge-mixin;
  background: #FFFAEB;
  color: $warning;
}

.status-badge-Unknown {
  @include badge-mixin;
  background: #EFF8FF;
  color: $primary;
}

/*********** Sex symbol **********/

.sex-symbol-Male {
  @include badge-mixin;
  background: #EFF8FF;
  color: $primary;
}

.sex-symbol-Female {
  @include badge-mixin;
  background: #FEF3F2;
  color: $danger;
}

.sex-symbol-Unknown {
  @include badge-mixin;
  background: #EAECF0;
  color: #667085;
}

// The first group of three above us can be removed once we fully cut over to symbols and stop using badges for sex symbols

.sex-symbol-male {
  @include badge-mixin;
  background: #EFF8FF;
  color: $primary;
}

.sex-symbol-female {
  @include badge-mixin;
  background: #FEF3F2;
  color: $danger;
}

.sex-symbol-question_mark {
  @include badge-mixin;
  background: #EAECF0;
  color: #667085;
}

.sex-symbol-error {
  @include badge-mixin;
  background: #EAECF0;
  color: #667085;
}

/*********** Miscellaneous **********/
.bird-profile-image-width {
  width: 167px;
}

.empty-value {
  color: dimgray;
}

.back-link {
  font-size: $font-md;
}

.icon-filled {
  font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;
}

.row-navigation {
  cursor: pointer;
}

