<ng-container *ngIf="{
   metaEntity: metaEntity$ | async,
   entity: entity$ | async
} as context">

  <div *ngIf="!context.metaEntity; else EditEntity">
    Loading...
  </div>

  <ng-template #EditEntity>
    <ng-container *ngIf="context.entity">

      <div class="container-fluid mt-3">
        <h2 class="mb-3">{{context.metaEntity?.name}} Edit</h2>

        <form class="form" #form="ngForm" [formGroup]="entityForm" (ngSubmit)="onSubmit()">

          <div class="pt-1 d-flex" *ngFor="let nextRow of cells">
            <div [class]="getCSS(nextCell)" *ngFor="let nextCell of nextRow">

              <div class="form-group" *ngIf="nextCell.attribute">

                <label [for]="nextCell.attribute.name">
                  <span placement="right" [ngbTooltip]="nextCell.attribute.description">{{nextCell.attribute.label}}</span>
                </label>

                <div [ngSwitch]="nextCell.attribute.type">
                  <ng-container *ngSwitchCase="'Date'">
                    <app-date-picker-control [formGroup]="entityForm" [attribute]="nextCell.attribute"></app-date-picker-control>
                  </ng-container>

                  <ng-container *ngSwitchCase="'Text'">
                    <app-text-field-control [formGroup]="entityForm" [attribute]="nextCell.attribute"></app-text-field-control>
                  </ng-container>

                  <ng-container *ngSwitchDefault>
                    ERROR: Missing or unknown attribute type of: "{{nextCell.attribute.type}}"
                  </ng-container>
                </div>
              </div>

            </div>
          </div>



          <div class="d-flex">
            <div class="flex-grow-1"></div>
            <button class="btn btn-outline-secondary mr-2" (click)="onCancel()">Cancel</button>
            <button type="submit" class="btn btn-primary mr-2">Save</button>
          </div>

        </form>

      </div>

    </ng-container>
  </ng-template>

</ng-container>




