<ng-container *ngIf="metaPage$ | async as metaPage">
  <ng-container *ngIf="entity$ | async as entity">

    <div class="container-fluid mt-3 bg-light py-3 shadow-sm border">
      <h2 class="mb-3">{{metaPage.name}} Edit</h2>

      <app-form [mode]="mode" [template]="metaPage.templates[0]" (entityFormEvent)="onEntityFormEvent($event)">
        <ng-container BottomRightActions [ngSwitch]="mode">
          <ng-container *ngSwitchCase="'view'">
            <button class="btn btn-outline-secondary mr-2" (click)="onBack()">Back</button>
            <button type="submit" class="btn btn-primary mr-2" (click)="onEdit()">Edit</button>
          </ng-container>
          <ng-container *ngSwitchCase="'edit'">
            <button class="btn btn-outline-secondary mr-2" (click)="onCancel()">Cancel</button>
            <button type="submit" class="btn btn-primary mr-2" (click)="onSave()">Save</button>
          </ng-container>
        </ng-container>
      </app-form>
    </div>

  </ng-container>

</ng-container>




