.hover-highlight:hover {
  background: lavender;
}

.wrapper {
  position: relative;
}

.overlay-bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}



/**************************************/

.drag-border {
  border: #ff525b dashed 2px;
}

.drag-handle {
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.drag-handle:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

/* Droppable */

.drag-hint-border {
  border: #3c763d dashed 2px;
}

.drag-over-border {
  border: #fbbc05 dashed 2px;
}

.drag-transit {
  border: #3500FF dashed 2px;
}
