<ng-container *ngIf="cells && mode && formGroup">
  <div class="pt-1 d-flex" *ngFor="let nextRow of cells">
    <div [class]="getCSS(nextCell)" *ngFor="let nextCell of nextRow">

      <div class="form-group" *ngIf="nextCell.attribute">

        <label [for]="nextCell.attribute.name">
          <span placement="right" [ngbTooltip]="nextCell.attribute.description">{{nextCell.attribute.label}}</span>
        </label>

        <app-cell-container [formGroup]="formGroup" [mode]="mode" [cell]="nextCell"></app-cell-container>
      </div>

    </div>
  </div>
</ng-container>
