<h2>Person Search</h2>


<form class="form-inline">
  <input type="text" class="form-control mb-2 mr-2" placeholder="Search by name..." [(ngModel)]="searchCriteria.nameCriteria" name="nameCriteria">
  <button type="submit" class="btn btn-primary mb-2" (click)="onSearch()">Submit</button>
</form>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Person</th>
      <th scope="col">Email</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of searchResults">
      <td><a [routerLink]="['/person/view', item.id]">{{item.given_name}} {{item.family_name}}</a></td>
      <td>{{item.email_address}}</td>
    </tr>
  </tbody>
</table>

<ngb-pagination [collectionSize]="collectionSize" [maxSize]="5" [(page)]="pageNumber" [pageSize]="pageSize" (pageChange)="onSearch()">
</ngb-pagination>
