
.landing-page {
  background: #999999;
  height: 100%;
}

.landing-panel {
  min-width: 1200px;
  max-width: 1600px;
  margin: 0 auto;
  display: block;
}

.landing-page-title {
  text-transform: uppercase;
  padding-top: 56px;
  font-size: 9pt;
  color: #3c763d;
}

.landing-image {
  background-image: url('/assets/Kiwi-landing.jpg');
  background-position: calc(50% - 225px) 0%;
  background-repeat: no-repeat;
}

.landing-login {
  max-height: 600px;
}

.landing-page-heading {
}

.landing-page-support {
  font-size: 12pt;
}
