<div class="landing-page">

  <div class="landing-panel p-5">
    <div class="row">
      <div class="col-4 offset-2 rounded-start landing-image">
      </div>
      <div class="col-4 rounded-end bg-light p-3 landing-login">
        <div class="landing-page-title text-center">Kiwi Information management</div>
        <div class="landing-page-heading text-center mt-3 px-5"><h1>Manage, store, and catalogue Kiwi data</h1></div>
        <div class="text-center p-3">The Kiwi Information Management System is designed to help Department of Conservation staff manage and organise Kiwi data effectively and improve data quality on various Kiwi projects throughout New Zealand.</div>
        <div class="text-center">
          <div class="btn btn-primary m-2" (click)="onLogin()">Login</div>
        </div>
        <div class="landing-page-support my-5 text-center">Contact the team for any queries - <a href="mailto:KiwiSupport@doc.govt.nz">KiwiSupport@doc.govt.nz</a></div>
      </div>
    </div>
  </div>

</div>
