<div class="landing-page">

  <div class="landing-panel p-5">
    <div class="row">
      <div class="col-4 offset-2 rounded-start landing-image">
      </div>
      <div class="col-4 rounded-end bg-light p-3 landing-login">
        <div class="landing-page-title text-center">KIMS</div>
        <div class="text-center p-3">The KIMS System is designed to help Department of Conservation staff manage and organise bird data effectively and improve data quality on various bird projects throughout New Zealand.</div>
        <div class="text-center">
          <div class="btn btn-primary m-2" (click)="onLogin()">Login</div>
        </div>
        <div class="landing-page-support my-5 text-center">Contact the team for any queries - <a href="mailto:KiwiSupport@doc.govt.nz">KiwiSupport&#64;doc.govt.nz</a></div>
      </div>
    </div>
  </div>

</div>
