<div class="container-fluid mt-3">
  <h2>Meta Menu View</h2>

  <ng-container *ngIf="metaMenu$ | async as metaMenu">
    <div class="mt-3">

      <table class="table table-striped">
        <thead>
        <tr>
          <th *ngFor="let colIdx of columnNumbers">
            <app-menu-header-view [menuItem]="getMenuItem(metaMenu, colIdx, 0)"></app-menu-header-view>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let rowIdx of rowNumbers">
          <td *ngFor="let colIdx of columnNumbers">
            <app-menu-item-view
              [menu]="getMenu(metaMenu, colIdx)"
              [menuItem]="getMenuItem(metaMenu, colIdx, rowIdx)"
              (menuItemAdded)="onMenuItemAdded(metaMenu, colIdx, $event)"
            >
            </app-menu-item-view>
          </td>
        </tr>
        </tbody>
      </table>

      <div class="d-flex">
        <div class="flex-grow-1"></div>
        <button class="btn btn-outline-secondary mr-2" (click)="onBack(getMenuItem(metaMenu, 0, 0))">Back</button>
        <!--<button class="btn btn-primary" (click)="onEdit()">Edit</button>-->
      </div>
    </div>
  </ng-container>
</div>
