<ng-container *ngIf="template && metaEntityOptions$ | async as metaEntityOptions">

  <div class="row border-top border-dark py-3">
    <div class="col-10">
      <div class="alert alert-info">
        <div class="d-flex justify-content-between">
          <span>
            {{template.metaEntityName}}: {{template.type}}<span *ngIf="template.type === 'table'">, order by: {{template.orderByName}}, {{template.orderByDir}}</span>
          </span>
          <span class="material-icons" (click)="openTemplateOptions()">settings</span>
        </div>
      </div>

      <ng-container [ngSwitch]="template.type">
        <ng-container *ngSwitchCase="'form'">
          <app-template-form-editor [template]="template" [metaEntity]="getMetaEntity(template, metaEntityOptions)"></app-template-form-editor>
        </ng-container>

        <ng-container *ngSwitchCase="'table'">
          <app-template-table-editor [template]="template" [metaEntity]="getMetaEntity(template, metaEntityOptions)"></app-template-table-editor>
        </ng-container>

        <ng-container *ngSwitchDefault>
          <div>UNKNOWN template type of {{template.type}}</div>
        </ng-container>
      </ng-container>
    </div>

    <div class="col-2 border-left border-dark">
      <app-attribute-palette [metaEntity]="getMetaEntity(template, metaEntityOptions)"></app-attribute-palette>
    </div>
  </div>
</ng-container>

