
<ng-container *ngIf="template">
  <div class="d-flex">
    <h3 class="mr-2">Template</h3>
    <select class="col-1 form-control" id="entity" [(ngModel)]="template.type">
      <option *ngFor="let o of getTemplateTypeOptions()" [ngValue]="o">{{o}}</option>
    </select>
  </div>

  <ng-container [ngSwitch]="template.type">
    <ng-container *ngSwitchCase="'form'">
      <app-template-form-editor [template]="template"></app-template-form-editor>
    </ng-container>

    <ng-container *ngSwitchCase="'table'">
      <app-template-table-editor [template]="template"></app-template-table-editor>
    </ng-container>

    <ng-container *ngSwitchDefault>
      <div>UNKNOWN template type of {{template.type}}</div>
    </ng-container>
  </ng-container>
</ng-container>
