<ng-container *ngIf="template && metaEntityOptions$ | async as metaEntityOptions">

  <div class="row border-top border-dark py-3">
    <div class="col-10">

      <div class="form-inline">
        <h3 class="mr-5">Template</h3>

        <label class="ml-5 mr-2" for="entity">Entity</label>
        <select class="form-control mr-2" id="entity" [ngModel]="getMetaEntity(template, metaEntityOptions)"  (ngModelChange)="onEntityChange($event)">
          <option *ngFor="let o of metaEntityOptions" [ngValue]="o">{{o.name}}</option>
        </select>

        <label class="ml-5 mr-2" for="templateType">Type</label>
        <select class="form-control" id="templateType" [(ngModel)]="template.type">
          <option *ngFor="let o of getTemplateTypeOptions()" [ngValue]="o">{{o}}</option>
        </select>

        <ng-container *ngIf="template.type === 'table'">
          <label class="ml-5 mr-2" for="orderByName">Order by</label>
          <select class="form-control mr-1" id="orderByName" [(ngModel)]="template.orderByName">
            <option *ngFor="let o of getOrderByNameOptions()" [ngValue]="o">{{o}}</option>
          </select>

          <select class="form-control" id="orderByDir" [(ngModel)]="template.orderByDir">
            <option *ngFor="let o of getOrderByDirOptions()" [ngValue]="o">{{o}}</option>
          </select>
        </ng-container>
      </div>

      <ng-container [ngSwitch]="template.type">
        <ng-container *ngSwitchCase="'form'">
          <app-template-form-editor [template]="template" [metaEntity]="getMetaEntity(template, metaEntityOptions)"></app-template-form-editor>
        </ng-container>

        <ng-container *ngSwitchCase="'table'">
          <app-template-table-editor [template]="template" [metaEntity]="getMetaEntity(template, metaEntityOptions)"></app-template-table-editor>
        </ng-container>

        <ng-container *ngSwitchDefault>
          <div>UNKNOWN template type of {{template.type}}</div>
        </ng-container>
      </ng-container>
    </div>

    <div class="col-2" style="border-left: #5a6268 thin solid">
      <app-attribute-palette [metaEntity]="getMetaEntity(template, metaEntityOptions)"></app-attribute-palette>
    </div>
  </div>
</ng-container>
