<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Perfect-Stack</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="'/'">Home <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item" ngbDropdown *ngFor="let nextMenu of metaMenuService.menu.menuList">
        <a class="nav-link" tabindex="0" ngbDropdownToggle id="navbarDropdown" role="button">
          {{nextMenu.label}}
        </a>
        <div class="dropdown-menu" ngbDropdownMenu>
          <a ngbDropdownItem [routerLink]="menuItem.route" *ngFor="let menuItem of nextMenu.items">
            {{menuItem.label}}
          </a>
        </div>
      </li>

    </ul>

    <ng-container *ngIf="authenticationService.isLoggedIn">
      <button class="btn btn-outline-dark ml-2 my-2 my-sm-0" (click)="onLogout()">Logout</button>
    </ng-container>
    <ng-container *ngIf="!authenticationService.isLoggedIn">
      <button class="btn btn-outline-success ml-2 my-2 my-sm-0" (click)="onLogin()">Login</button>
    </ng-container>

  </div>
</nav>

<div class="p-4">
  <router-outlet></router-outlet>
</div>

