<ng-container *ngIf="{
   metaEntity: metaEntity$ | async,
   entity: entity$ | async
} as context">

  <div *ngIf="!context.metaEntity; else ViewEntity">
    Loading...
  </div>

  <ng-template #ViewEntity>
    <ng-container *ngIf="context.entity">

      <h2>{{context.metaEntity?.name}} View</h2>


      <div class="container-fluid mt-3">

        <ng-container *ngFor="let attribute of context.metaEntity?.attributes">
          <div class="row" *ngIf="attribute.visibility !== 'Hidden'">
            <div class="col-2">{{attribute.label}}</div>
            <div class="col-10">{{displayValue(attribute, context.entity)}}</div>
          </div>
        </ng-container>

        <div class="row mt-3">
          <div class="col-6">
            <button class="btn btn-primary mr-2" (click)="onEdit()">Edit</button>
            <button class="btn btn-outline-secondary" (click)="onCancel()">Cancel</button>
          </div>
        </div>
      </div>

    </ng-container>
  </ng-template>

</ng-container>
