<ng-container *ngIf="formGroup && mode && cell && cell.attribute">
  <ng-container [ngSwitch]="cell.attribute.type">
    <ng-container *ngSwitchCase="'Date'">
      <app-date-picker-control [formGroup]="formGroup" [mode]="mode" [attribute]="cell.attribute"></app-date-picker-control>
    </ng-container>

    <ng-container *ngSwitchCase="'Text'">
      <ng-container [ngSwitch]="cell.component">
        <ng-container *ngSwitchCase="'TextArea'">
          <app-text-area-control [cell]="cell" [formGroup]="formGroup" [attribute]="cell.attribute"></app-text-area-control>
        </ng-container>

        <ng-container *ngSwitchDefault>
          <app-text-field-control [formGroup]="formGroup" [attribute]="cell.attribute"></app-text-field-control>
        </ng-container>
      </ng-container>

      <!--<app-text-field-control [formGroup]="formGroup" [mode]="mode" [attribute]="cell.attribute"></app-text-field-control>-->
    </ng-container>

    <ng-container *ngSwitchCase="'OneToMany'">
      <app-one-to-many-control [formGroup]="formGroup" [mode]="mode" [attribute]="cell.attribute" [cell]="cell"></app-one-to-many-control>
    </ng-container>

    <ng-container *ngSwitchCase="'OneToOne'">
      <app-one-to-one-control [formGroup]="formGroup" [mode]="mode" [attribute]="cell.attribute" [cell]="cell"></app-one-to-one-control>
    </ng-container>

    <ng-container *ngSwitchCase="'ManyToOne'">
      <app-many-to-one-control [formGroup]="formGroup" [mode]="mode" [attribute]="cell.attribute"></app-many-to-one-control>
    </ng-container>

    <ng-container *ngSwitchDefault>
      ERROR: Missing or unknown attribute type of: "{{cell.attribute.type}}"
    </ng-container>
  </ng-container>
</ng-container>
