<ng-container *ngIf="formGroup && mode && cell && cell.attribute">
  <ng-container [ngSwitch]="cell.attribute.type">
    <ng-container *ngSwitchCase="'Date'">
      <app-date-picker-control [formGroup]="formGroup" [mode]="mode" [attribute]="cell.attribute"></app-date-picker-control>
    </ng-container>

    <ng-container *ngSwitchCase="'Text'">
      <app-text-field-control [formGroup]="formGroup" [mode]="mode" [attribute]="cell.attribute"></app-text-field-control>
    </ng-container>

    <ng-container *ngSwitchCase="'OneToMany'">
      <app-one-to-many-control [formGroup]="formGroup" [mode]="mode" [attribute]="cell.attribute" [cell]="cell"></app-one-to-many-control>
    </ng-container>

    <ng-container *ngSwitchDefault>
      ERROR: Missing or unknown attribute type of: "{{cell.attribute.type}}"
    </ng-container>
  </ng-container>
</ng-container>
