<div class="vh-100">
  <div class="d-flex flex-column h-100">
    <lib-ngx-perfect-stack
      applicationTitle="NFC"
      applicationTitleFont="Zilla Slab"
      applicationLogo="assets/DOC_logo_horizontal_RGB_White_Text_1.svg"
      applicationLogoWidth="160"
      menuBarBackgroundColor="#194036"
      menuBarDividerColor="#2D7E69 thin solid"
    >
    </lib-ngx-perfect-stack>

    <div class="flex-grow-1">
      <router-outlet></router-outlet>
    </div>

    <app-toasts></app-toasts>
  </div>
</div>
